:root {
  --icon-color: rgba(0, 0, 255, 0.5);
  --icon-text-color: rgba(168, 168, 168, 0.5);
  --table-row-color-even: rgba(192, 192, 192, 0.5);
  --table-row-color-odd: rgba(192, 192, 192, 0.7);
}

body {
  background: var(--icon-text-color);
}
